<br/>
<div class="jumbotron">
  <h1>Bloccit</h1>
  <p>Bloccit is a resource for sharing links with your friends!</p>
  <p>
  <% if user_signed_in? %>
    <%= link_to 'Edit Account', edit_user_registration_path, class: 'btn btn-primary' %> or 
    <%= link_to 'Sign Out', destroy_user_session_path, :method=>'delete', class: 'btn btn-primary' %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  <% end %>
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Solves gamer fatigue</h2>
    <p>Bloccit will deliver caffiene, pizza and water to coders in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Eliminates poverty</h2>
    <p>Bloccit will deliver 4k monitors and ergonomic workstations to coders in need, all over the world.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Bloccit will make you better looking: it's scientifically proven to make men look like Ryan Reynolds and women look like Adriana Lima.</p>
  </div>
</div>